@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

@media screen and (orientation:portrait) {
    #root {
        width: 74vw;
        height: 100vw;
    }
    .number-table {
        border-spacing: 2vw;
    }
    .number-row {
        height: 16vw;
    }
    .number-cell {
        width: 16vw;
        font-size: 8vw;
    }
    #score-board {
        width: 16vw;
        height: 12vw;
        font-size: 4vw;
        margin: 2vw;
    }
}
@media screen and (orientation:landscape) {
    #root {
        width: 74vh;
        height: 100vh;
    }
    .number-table {
        border-spacing: 2vh;
    }
    .number-row {
        height: 16vh;
    }
    .number-cell {
        width: 16vh;
        font-size: 8vh;
    }
    #score-board {
        width: 16vh;
        height: 12vh;
        font-size: 4vh;
        margin: 2vh;
    }
}


html, body {
    overscroll-behavior-y: contain;
    background-color: #b8aca0;
    position: fixed;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

#root {
    margin-left: auto;
    margin-right: auto;
}

.number-table {
    display: table;
    background-color: #92877d;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-radius: 2%;
}

.number-row {
    display: table-row;
    width: 100%;
}

.number-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 10%;
    font-weight: bold;
}


.num-null {
    background-color: #9e948a;
}

.num-2 {
    background-color: #eee4da;
}

.num-4 {
    background-color: #ede0c8;
}

.num-8 {
    background-color: #f2b179;
}

.num-16 {
    background-color: #f59563;
}

.num-32 {
    background-color: #f67c5f;
}

.num-64 {
    background-color: #f65e3b;
}

.num-128 {
    background-color: #edcf72;
}

.num-256 {
    background-color: #edcc61;
}

.num-512 {
    background-color: #edc850;
}

.num-1024 {
    background-color: #edc53f;
}

.num-2048 {
    background-color: #edc22e;
}

.num-new {
    animation: new 0.3s ease-out normal;
}

@-webkit-keyframes new {
    0% {
        transform: scale(0.2);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.num-merged {
    animation: merged 0.3s ease-out normal;
}

@-webkit-keyframes merged {
    0% {
        transform: scale(0.9);
    }

    25% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}

#score-board {
    text-align: center;
    background-color: #9e948a;
    border-radius: 10%;
    font-weight: bold;
}

#score-info {
    width: 100%;
    height: 50%;
}

#score-value {
    width: 100%;
    height: 50%;
}